* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.header {
  background: #b71c1c;
  color: white;
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: white;
  box-shadow: 0 2px 5px #ccc;
}

.logo {
  font-size: 24px;
  color: blue;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0 2px 8px #aaa;
}

.dropdown-content a {
  display: block;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #f5f5f5;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px #ddd;
}

.page-title {
  text-align: center;
  margin: 30px;
}

.page-text {
  text-align: center;
  font-size: 18px;
}

.example-box {
  width: 70%;
  margin: auto;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px 5px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background: gray;
}

.back {
  display: block;
  text-align: center;
  margin: 20px;
  font-weight: bold;
  text-decoration: none;
}

footer {
  background: #1a1a2e;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 35px;
  margin: 0 8px;
}